.course-list-container{
    background-color: #524d4b;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    h1{
        text-align: center;
        color: whitesmoke;
    }
}